{% extends "@themes/"~template~"/html/base.html.twig" %}

{# Include the SmileToAI form styles #}
{% block content %}
    {% include '@themes/smiletoai/html/MauticFormBundle/Builder/_style.html.twig' %}

    {% if message is defined %}
        <div>
            <p>{{ message|raw }}</p>
        </div>
    {% endif %}

    <div>
        {% if header is defined %}
        <h4>{{ header }}</h4>
        {% endif %}
        {{ content|raw }}
    </div>
{% endblock %}
